@import "base/variables";

.apps {
  @include outer-container;

  .app {
    @include span-columns(12);
    text-align: center;

    @include media($medium-screen) {
      @include span-columns(6);
    }

    @include media($large-screen) {
      @include span-columns(4);
    }

    .screenshot {
      @include span-columns(12);
      height: 350px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &.yawuru {
        background-image: url(/images/yawuru-nganga-home.jpg);
      }

      &.miriwoong {
        background-image: url(/images/miriwoong-home.jpg);
      }
    }

    .platform {
      @include span-columns(4);
      height: 70px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;

      &:first-child {
        @include shift(2);
      }

      &.ios {
        background-image: url(/images/ios.svg);
      }

      &.android {
        background-image: url(/images/android.png);
      }
    }
  }
}