.repos {
  @include outer-container;

  .repo {
    @include span-columns(12);
    text-align: center;

    @include media($medium-screen) {
      @include span-columns(5);
      
      &:first-child {
        @include shift(1);
      }
    }

    .screenshot {
      height: 350px;

      img {
        max-height: 100%;
      }
    }
  }
}