@import "normalize";
@import "bourbon";
@import "base/base";
@import "neat";
@import "hero";
@import "logos";
@import "app";
@import "repos";

#main-content {
  margin: 8px;
}

.clear {
  clear: both;
}

header.line-behind {
  width: 90%;
  margin: auto;
  text-align: center;
  border-bottom: 2px solid $light-gray;
  margin-bottom: 1.5em;

  .title {
    display: inline-block;
    font-size: $heading-font-size;
    top: $heading-font-size;
    text-transform: uppercase;
    padding: 0 10px;
    background-color: white;
    position: relative;
  }
}

section {
  margin-bottom: 30px;

  .content {
    text-align: center;
  }
}

footer {
  background-color: $dark-gray;
  color: $contrast-font-color;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  height: 1.5em;
}

.platform, .repo {
  margin-bottom: 20px;
}

.setup-steps {
  @include span-columns(10);
  @include shift(1);

  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }

  margin-bottom: 30px;
  text-align: left;
  
  ol {
    counter-reset: item;
    li {
      &:before {
        width: 30px;
        display: inline-block;
        content: counter(item) ".  ";
        counter-increment: item;
        font-family: $heading-font-family;
        font-size: $heading-font-size;
        font-weight: bold;
      }
    }
  }
}

.request {
  clear: both;
  font-weight: bold;
}