.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      %img{:alt => "Logo Image", :src => "/images/jila-logo-white.svg"}/
    .hero-copy
      %h1 Jila
      %p An open-source framework allowing communities with endangered languages to build engaging apps that help to preserve their culture

#main-content
  %section
    %header.line-behind
      %h2.title What is Jila?
    .content
      %p Jila began as the core of Yawuru Ngan-ga, a language app from the Yawuru community of Broome, Western Australia. From there the team transformed it into an almost turnkey solution for communities wanting to create their own language applications without requiring a large financial outlay, or a team of developers to maintain the content.
      %p The framework consists of two components, a cloud-ready administration console for the curation of the dictionary and content, and a cross-platform mobile application. More information can be found in their respective GitHub repositories. 
    .repos
      .repo
        %h3.name Admin Console
        %a
          .screenshot
            %img.backend{src: '/images/backend.jpg', alt: 'Link to Jila admin console repository on GitHub', href: 'https://github.com/JilaFramework/jila-backend'}
      .repo
        %h3.name Mobile
        %a
          .screenshot
            %img.mobile{src: '/images/jila-home.jpg', alt: 'Link to Jila mobile app repository on GitHub' ,href: 'https://github.com/JilaFramework/jila-mobile'}

  %section
    %header.line-behind
      %h2.title Who is behind Jila?
    .content
      %p Jila is proudly brought to you by ThoughtWorks and the Yawuru community of Broome.
    .logos
      %a.logo{href: 'http://www.thoughtworks.com'}
        %img{src: 'images/thoughtworks-logo.png'}
      %a.logo{href: 'http://www.yawuru.com'}
        %img{src: 'images/yawuru-logo.png'}


  %section
    %header.line-behind
      %h2.title Who is using it?
    .content
      %p The following apps were created using the Jila framework. Let us know if you are part of another.
    .apps
      .app
        %h3.name Yawuru Ngan-ga
        .screenshot.yawuru
        .platforms
          %a.platform.android{href: 'https://play.google.com/store/apps/details?id=org.jila.yawuru'}
          %a.platform.ios{href: 'https://itunes.apple.com/au/app/yawuru-ngan-ga/id937162422?mt=8'}
      .app
        %h3.name Miriwoong Mobile
        .screenshot.miriwoong
        .platforms
          %a.platform.android{href: 'https://play.google.com/store/apps/details?id=au.org.mirima.miriwoong.mobile'}
          %a.platform.ios{href: 'https://itunes.apple.com/us/app/miriwoong/id994029653?mt=8'}
      

  %section
    %header.line-behind
      %h2.title How do I get involved?
    .content
      %p Fork the repositories and have a go at building your own version of the app! If you publish any apps based on the framework please let us know. 
      %p If you make any enhancements or additions to the framework we'd really appreciate if you're able to submit them as pull requests. That way all of the communities building apps based on Jila can benefit collectively.

%footer
  With love from Western Australia 2015
