.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      %img{:alt => "Logo Image", :src => "/images/jila-logo-white.svg"}/
    .hero-copy
      %h1 Jila
      %p An open-source framework allowing communities with endangered languages to build engaging apps that help to preserve their culture

#main-content
  %section
    %header.line-behind
      %h2.title What is Jila?
    .content
      %p Jila began as the core of Yawuru Ngan-ga, a language app from the Yawuru community of Broome, Western Australia. From there the team transformed it into an almost turnkey solution for communities wanting to create their own language applications without requiring a large financial outlay, or a team of developers to maintain the content.
      %p The framework consists of two components, a cross-platform mobile application and a cloud-ready administration console. 
    .repos
      .repo
        %h3.name Mobile (Click to Demo)
        %a{href: 'http://bit.ly/jilaframework-web', title: 'Link to Jila web demo'}
          .screenshot.mobile
            %img{src: '/images/jila-home.jpg', alt: 'Jila mobile app screenshot'}
        %ul.features
          %li 
            %strong Explore
            words and phrases by category or letter
          %li 
            %strong Learn
            the language through simple word, audio and picture games
          %li 
            Access everything wherever you are, even
            %strong offline
          %li 
            Kickstart your experience with useful 
            %strong common phrases
          %li 
            %strong Search 
            for words in the dictionary
      .repo
        %h3.name Admin Console (Click to Demo)
        %a{href: 'http://bit.ly/jilaframework-backend', title: 'Link to Jila admin console demo'}
          .screenshot.backend
            %img{src: '/images/backend.jpg', alt: 'Admin console screenshot'}
        %ul.features
          %li 
            %strong Manage 
            your dictionary of terms, translations and categories
          %li 
            %strong Control 
            what content is published to the app so you can release at your pace
          %li 
            Upload 
            %strong images and audio 
            to enrich entries
          %li 
            %strong User management 
            to control who can manage your content

  %section
    %header.line-behind
      %h2.title Who is behind Jila?
    .content
      %p Jila is proudly brought to you by ThoughtWorks and the Yawuru community of Broome.
    .logos
      %a.logo{href: 'http://www.thoughtworks.com', title: 'Link to ThoughtWorks website'}
        %img{src: 'images/thoughtworks-logo.png', alt: 'ThoughtWorks logo'}
      %a.logo{href: 'http://www.yawuru.com', title: 'Link to Yawuru website'}
        %img{src: 'images/yawuru-logo.png', alt: 'Yawuru logo'}


  %section
    %header.line-behind
      %h2.title Who is using it?
    .content
      %p The following apps were created using the Jila framework. Let us know if you are part of another.
    .apps
      .app
        %h3.name Yawuru Ngan-ga
        .screenshot.yawuru
        .platforms
          %a.platform.android{href: 'https://play.google.com/store/apps/details?id=org.jila.yawuru', title: "Download 'Yawuru Ngan-ga' from Google Play"}
          %a.platform.ios{href: 'https://itunes.apple.com/au/app/yawuru-ngan-ga/id937162422?mt=8', title: "Download 'Yawuru Ngan-ga' from the App Store"}
      .app
        %h3.name Miriwoong Mobile
        .screenshot.miriwoong
        .platforms
          %a.platform.android{href: 'https://play.google.com/store/apps/details?id=au.org.mirima.miriwoong.mobile', title: "Download 'Miriwoong Mobile' from Google Play"}
          %a.platform.ios{href: 'https://itunes.apple.com/us/app/miriwoong/id994029653?mt=8', title: "Download 'Miriwoong' from the App Store"}      

  %section
    %header.line-behind
      %h2.title How do I get involved?
    .content
      %p It'll require a developer to get started, but the number of steps required to have your own app up and running is pretty short:
      .setup-steps
        %ol
          %li 
            Fork the repositories from GitHub
            %a{href: 'https://github.com/JilaFramework/jila-mobile', title: 'Link to Jila mobile app repository on GitHub'} HERE
            and
            %a{href: 'https://github.com/JilaFramework/jila-backend', title: 'Link to Jila admin console repository on GitHub'} HERE
          %li 
            Customise the look and feel for your community or organisation
          %li 
            Setup an account and bucket on 
            %a{href: 'https://aws.amazon.com/s3/', title: 'Link to Amazon S3'} Amazon S3
            for storing images and audio
          %li 
            Deploy the admin console to a hosting service like 
            %a{href: 'http://www.heroku.com', title: 'Link to Heroku'} Heroku
          %li 
            Populate the dictionary through the admin console
          %li 
            Submit to the Apple and Google Play stores
          %li 
            Share with your community and beyond!

      .clear
      
      %p.request If you make any enhancements or additions to the framework we'd really appreciate if you're able to submit them as pull requests. That way all of the communities building apps based on Jila can benefit collectively.

  %section
    %header.line-behind
      %h2.title Are there any restrictions?
    .content
      %p Not really, Jila is totally free to use. We chose the permissive MIT license to allow people to use the framework as they wish, making both free and commerical apps. This decision was made to encourage use of the framework and lower the barrier of entry for communities looking to build apps of their own. 

  %section
    %header.line-behind
      %h2.title How do I get in touch?
    .content
      %p 
        Twitter is probably easiest. The Jila team can be contacted at 
        %a{href: 'https://twitter.com/jilaframework'} @jilaframework. 
      %p 
        If email is more your thing, please contact us
        %a{href: 'mailto:njones+jila@thoughtworks.com'} here.

%footer
  With love from Western Australia 2015
