.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      %img{:alt => "Logo Image", :src => "/images/jila-logo-white.svg"}/
    .hero-copy
      %h1 Jila
      %p An open-source framework allowing communities with endangered languages to build engaging apps that help to preserve their culture

#main-content
  %section
    %header.line-behind
      %h2.title What is Jila?
    .content
      %p Jila began as the core of Yawuru Ngan-ga, a language app from the Yawuru community of Broome, Western Australia. From there the team transformed it into an almost turnkey solution for communities wanting to create their own language applications without requiring a large financial outlay, or a team of developers to maintain the content.
      %p The framework consists of two components, a cloud-ready administration console for the curation of the dictionary and content, and a cross-platform mobile application. More information can be found in their respective GitHub repositories. 
    .repos
      .repo
        %h3.name Admin Console
        %a{href: 'https://github.com/JilaFramework/jila-backend', title: 'Link to Jila admin console repository on GitHub'}
          .screenshot
            %img.backend{src: '/images/backend.jpg', alt: 'Admin console screenshot'}
      .repo
        %h3.name Mobile
        %a{href: 'https://github.com/JilaFramework/jila-mobile', title: 'Link to Jila mobile app repository on GitHub'}
          .screenshot
            %img.mobile{src: '/images/jila-home.jpg', alt: 'Jila mobile app screenshot'}

  %section
    %header.line-behind
      %h2.title Who is behind Jila?
    .content
      %p Jila is proudly brought to you by ThoughtWorks and the Yawuru community of Broome.
    .logos
      %a.logo{href: 'http://www.thoughtworks.com', title: 'Link to ThoughtWorks website'}
        %img{src: 'images/thoughtworks-logo.png', alt: 'ThoughtWorks logo'}
      %a.logo{href: 'http://www.yawuru.com', title: 'Link to Yawuru website'}
        %img{src: 'images/yawuru-logo.png', alt: 'Yawuru logo'}


  %section
    %header.line-behind
      %h2.title Who is using it?
    .content
      %p The following apps were created using the Jila framework. Let us know if you are part of another.
    .apps
      .app
        %h3.name Yawuru Ngan-ga
        .screenshot.yawuru
        .platforms
          %a.platform.android{href: 'https://play.google.com/store/apps/details?id=org.jila.yawuru', title: "Download 'Yawuru Ngan-ga' from Google Play"}
          %a.platform.ios{href: 'https://itunes.apple.com/au/app/yawuru-ngan-ga/id937162422?mt=8', title: "Download 'Yawuru Ngan-ga' from the App Store"}
      .app
        %h3.name Miriwoong Mobile
        .screenshot.miriwoong
        .platforms
          %a.platform.android{href: 'https://play.google.com/store/apps/details?id=au.org.mirima.miriwoong.mobile', title: "Download 'Miriwoong Mobile' from Google Play"}
          %a.platform.ios{href: 'https://itunes.apple.com/us/app/miriwoong/id994029653?mt=8', title: "Download 'Miriwoong' from the App Store"}
      

  %section
    %header.line-behind
      %h2.title How do I get involved?
    .content
      %p Fork the repositories and have a go at building your own version of the app! If you publish any apps based on the framework please let us know. 
      %p If you make any enhancements or additions to the framework we'd really appreciate if you're able to submit them as pull requests. That way all of the communities building apps based on Jila can benefit collectively.

  %section
    %header.line-behind
      %h2.title Are there any restrictions?
    .content
      %p Not really. Jila uses the permissive MIT license to allow people to use the framework as they wish, making both free and commerical apps. This decision was made to encourage use of the  framework and lower the barrier of entry for communities looking to build apps of their own.

  %section
    %header.line-behind
      %h2.title How do I get in touch?
    .content
      %p 
        Twitter is probably easiest. The Jila team can be contacted at 
        %a{href: 'https://twitter.com/jilaframework'} @jilaframework.

%footer
  With love from Western Australia 2015
